- email_name.emails.each do |email|
  %table.table.table-key-values.table-striped
    %tbody
      %tr
        %th Locale
        %td= email.locale
      %tr
        %th Subject
        %td= email.subject
      %tr
        %th Body
        %td= email.body

  - if email.audits.any?
    = render 'office/shared/audits', :audits => email.audits.descending
