%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Count of events
  %tbody
    - email_names.each do |email_name|
      %tr
        %td= link_to_show(office_site_defaults_email_name_path(email_name), email_name.name)
        %td= email_name.events.size
