- email_name.emails.each do |email|
  .panel.panel-default
    .panel-heading
      %h4 Language #{email.locale}
    .panel-body
      %dl.dl-horizontal
        %dt Subject
        %dd(ng-non-bindable)
          %pre= email.subject
        %dt Body
        %dd(ng-non-bindable)
          %pre= email.body
      - if email.audits.any?
        = render 'office/shared/audits', :audits => email.audits.descending