%table.table-condensed.table-toggler
  %thead
    %tr
      %th.name Name
      %th Not Checked In
      %th Checked In
      %th
  %tbody
    - event.registrations.approved.by_first_name.each do |r|
      %tr
        %td.name= r.full_name
        = content_tag(:td, '', r.checked_in? ? {} : {class: 'red'})
        = content_tag(:td, '', r.checked_in? ? {class: 'green'} : {})
        %td= link_to('Toggle', checked_in_office_registration_path(r), class: 'btn btn-default', method: :post)