- Registration::ROLES.each do |role|
  - Registration::STATUSES.reverse.each do |status|
    - registrations = @event.registrations.where_role(role).where_status(status)
    = render report, registrations: registrations, role: role, status: status if registrations.any?