.block
  .content
    = controls do |c|
      - add_button_to(c, "PDF Format", :format => :pdf)

    %h2 #{@event.display_name} Checklist
    = render 'checklist', registrations: @event.registrations.approved, status: Registration::APPROVED, role: ''