.panel
  .panel-body
    = controls do |c|
      - c << csv_button
      - c << pdf_button

    %h2 #{@event.display_name} Checklist
    = render 'checklist', registrations: @event.registrations.approved, status: Registration::APPROVED, role: ''