.panel.panel-default
  .panel-heading
    %h3 Completion Report

  .panel-body
    %p
      Only Angels marked completed appear in the Workshop Roster.

  = render 'completed', registrations: @registrations