.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << csv_button
      - c << pdf_button

    %h3 #{@roster.title}

  .panel-body
    %p
      Click PDF Format to generate a printable version. Only angels marked as completed will appear on this roster.

  = render 'roster', registrations: @roster.registrations