.block
  .content
    = controls do |c|
      - add_button_to(c, "PDF Format", :format => :pdf)

    %h2 #{@roster.title}

    %p
      Click PDF Format to generate a printable version. Only angels marked as completed will appear on this roster.

    = render 'roster', registrations: @roster.registrations