.block
  .content
    = controls do |c|
      - c << csv_button
      - c << pdf_button

    %h2 #{@roster.title}

    %p
      Click PDF Format to generate a printable version. Only angels marked as completed will appear on this roster.

    = render 'roster', registrations: @roster.registrations