.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << csv_button
      - c << vcard_button

    %h3 Status Report

  .panel-body
    = render 'counts', event: @event
    = render 'grouped', report: 'status'