.block
  .content
    = controls do |c|
      - c << csv_button
      - c << vcard_button

    %h2 #{@event.display_name} Status Report
    = render 'counts', registrations: @event.registrations.approved
    = render 'grouped', report: 'status'