.block
  .content

    %h2 Angels who have completed #{@event.display_name}

    %p
      Click the header links to mark all angels, or click the toggle button
      to change the status of a single angel. Angels marked completed will appear on the roster.

    = render 'registrations', :registrations => registrations
