%table.table.color_dots
  %thead
    %tr
      %th Name
      %th.center Checked In
      %th.center Completed
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to(r.full_name, office_angel_path(r.angel))
        %td.center= color_dot(r.checked_in?)
        %td.center= color_dot(r.completed?)
.wat-cf
