#qtitel {
	font-family: Verdana,sans-serif;
	font-size: 40px;
	position: absolute;
	left: 157px;
	top: 75px;
}	
#titel {
	font-family: Verdana,sans-serif;
	font-size: 40px;
	position: absolute;
	left: 238px;
	top: 75px;
}	
#navmenu {
	top: 130px;
	left: 0px;
	width: 190px;
	min-height: 500px;
	position: fixed;
	overflow: visible;
	font-family: Verdana,sans-serif;
	z-index:2;
}
#tablemenu {
	position: relative;
	width: 100%;
	padding-left: 10px;
}
.tdmenu {
	background-image: url("/images/de/dottedLine.gif");
	background-position: bottom left;
	background-repeat: repeat-x;
	padding: 5px;
	white-space: nowrap;
}
.tdopen {
	padding: 5px;
	white-space: nowrap;
}
.bull {
	line-height: 12px;
	padding-left: 25px;
	vertical-align: top;
	width: 5px;
	color: #99cc33;
}
.tdsub {
	line-height: 12px;
	text-align: left;
}
#main {
	position: absolute;
	left: 240px;
	top: 140px;
	width: 60%;
}
#qmain {
	position: absolute;
	left: 120px;
	top: 130px;
	width: 40%;
	z-index:3;
}
#amain {
	position: absolute;
	left: 158px;
	top: 140px;
	width: 40%;
}
#header {
	left: 0px;
	top: 0px;
	position: fixed;
	height: 120px;
	color: #ffffff;
	width: 100%;
	background-color: #99cc33;
	z-index:1;
}
#qheader {
	left: 0px;
	top: 0px;
	position: fixed;
	height: 120px;
	color: #ffffff;
	width: 100%;
	background-color: #99cc33;
	z-index:1;
}
#welcome {
	font-size: 50px;
	color: #c13800;
}
body {
	font-size: 15px;
	font-family: Verdana,sans-serif;
	background-color: #ffffff; 
}
a {
	text-decoration: none;
	color: #e84f2f;
}
a:hover {
	text-decoration: underline;
	color: #e84f2f;
}
a.amenu {
	text-decoration: none;
	color: #000000;
}
a.amenu:hover {
	text-decoration: none;
	color: #e84f2f;
}
a.amenuactiv {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
a.amenuactiv:hover {
	text-decoration: none;
	color: #e84f2f;
}
a.amenusub {
	text-decoration: none;
	font-size: smaller;
	font-weight: bold;
	color: #99cc33;
}
a.amenusub:hover {
	text-decoration: none;
	color: #e84f2f;
}	
a.amenusubactiv {
	text-decoration: none;
	font-size: smaller;
	font-weight: bold;
	color: #e84f2f;
}
input.search {
	background-color: #99cc33;
}
