.messages {
  .header, .footer {
    background-color: #FFD;
    border: 1px solid #E4E4E4;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
  }
}

.message {
  .when {
    font-size: smaller;
    font-style: italic;
  }

  .subject {
    font-size: larger;
  }

  .to {
    font-size: smaller;
  }
}