= javascript_include_tag '//www.google.com/jsapi', 'chartkick'
= line_chart([{name: 'Participants', data: Registration.hai_workshops.participants.group('events.start_date').count}, {name: 'Team', data: Registration.hai_workshops.team.group('events.start_date').count}], height: '200px', library: { hAxis: {title: 'Year'}})
