- categories = EventEmail::CATEGORIES.select {|category| event.find_event_email(category) }
- if categories.any?
  .panel.panel-default
    .panel-heading
      %h4 Email Templates

    .panel-body
      - categories.each_with_index do |category, index|
        .panel.panel-default
          .panel-heading
            %h5= category

        .panel-body
          - event_email = event.find_event_email(category)
          = render event_email.email_name if event_email && event_email.email_name