.list-group
  - events.each do |event|
    = link_to(office_event_path(event), class: 'list-group-item') do
      .mini-box
        %span.box-icon.bg-success
          = event.registrations.participants.count
        .box-info
          %p= local_date(event.start_date)
          %p.size-h4= event.display_name