.panel
  .panel-body
    = controls do |c|
      - c << registrations_button(event)
      - c << edit_button

    %h2 #{event.display_name}

    = render 'event', :event => event

    - if event.audits.any?
      = render 'office/shared/audits', :audits => event.audits.descending