.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << registrations_button(@event)
      - c << edit_button

    %h3 #{@event.display_name}

  .panel-body
    = render 'event', event: @event

    - if @event.audits.any?
      = render 'office/shared/audits', audits: @event.audits.descending