.block
  = block_navigation(pre_event_navigation)

  .content
    = controls do |c|
      - add_button_to(c, "PDF Format", :format => :pdf)

    %h2 Checklist

    .inner
      = render "registrations", :registrations => registrations

  = block_footer(registration_submodule_breadcrumbs << ['Checklist'])
