.list-group
  - memberships.by_active_on_desc.each do |m|
    = link_to(office_membership_path(m), class: 'list-group-item') do
      %p
        %span.size-h4= m.status
        %span #{local_date m.active_on} to #{local_date(m.retired_on) || 'current'}