%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Level
      %th{:width => '60%'} Notes
      %th
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to_show(office_event_registration_path(r.event, r), r.event_name)
        %td= r.level
        %td= r.notes
        %td.link= link_to_destroy office_angel_registration_path(r.angel, r)
