.block
  = block_navigation([['Contacts', :index], ['Levels', :level]])

  .content
    = controls do |c|
      - add_button_to(c, :new)

    %h2 Angels List

    .inner
      = render 'level', :angels => angels

  = block_footer(angel_breadcrumbs)
