- r = registration

.panel.panel-default
  .panel-heading
    %h4 Contact Information

  %table.detail
    %tbody
      = tr_field('Name', r.angel ? link_to_angel(r.angel) : r.full_name)
      = tr_field('Email', r.email)
      = tr_field('Phones', simple_format(compact_phones(r), {}, sanitize: false))
      = tr_field('Address', simple_format(compact_address(r)))