= form.input :lift, options_for_lift(form)
= form.input :special_diet
- if Site.de?
  = form.input :backjack_rental, options_for_backjack_rental(form, :translate => false)
  = form.input :sunday_choice, options_for_sunday_choice(form, :translate => false)
