= render 'office/angels/angel', :angel => registration.angel
= render 'office/registrations/show_payment', :registration => registration
= render 'office/registrations/show_others', :registration => registration
= render 'office/registrations/show_payments', :registration => registration
