= render 'office/angels/angel', :angel => registration.angel
= render 'office/registrations/request', :registration => registration
= render 'office/registrations/payment', :registration => registration
