.panel.panel-default
  .panel-heading
    %h4 Registration Information

  %table.detail
    %tbody
    = tr_fields(registration, :role, :gender)
    = tr_field('Special Requests', registration_requests(registration))
    = tr_field('Notes', registration.notes)

- if [:how_hear, :previous_event, :highest_level, :highest_location, :highest_date].map {|field| registration.send(field).present? }.any?
  .panel.panel-default
    .panel-heading
      %h4 Research

    %table.detail
      %tbody
        = tr_fields(registration, :how_hear, :previous_event, :highest_level, :highest_location, :highest_date)