.panel.panel-default
  .panel-heading
    %h4 Staff Information

  %table.detail
    %tbody
      = tr_fields(registration, :room, :clothing_conversation, :reg_fee_received, :status, :completed, :created_at, :updated_at)
