- r = @registration

.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << edit_button
      - (c << map_button(path: office_event_map_index_path(r.event, id: r))) if r.geocoded?

    %h3= r.full_name

  .panel-body
    = render r

    - if r.audits.any?
      = render 'office/shared/audits', :audits => r.audits.descending
