.row-fluid
  .span6
    .pagination
      = form_tag url_for, :method => :get, :class => 'form form-inline' do
        = select_tag :rows, options_for_row_count, :onchange => 'this.form.submit()'
  .span6
    = page_navigation_links table
