@charset "UTF-8";
/*  Cross-browser mixins
 *  
 *  David Marquês Francisco
 *  (dfrancisc[at]gmail.com)
 *  
 *  -------------------------------------
 */
/*============= table cell alignments */
.table .center {
  text-align: center; }
.table .qty {
  text-align: right; }
.table .name {
  width: 25ex; }
.table .true {
  background-color: #99cc33; }
.table .false {
  background-color: #db3737; }

.color_dots .true, .color_dots .false {
  width: 14px;
  height: 14px;
  display: inline-block; }

/*=============== collapsible blocks */
*[data-collapsible] {
  cursor: pointer; }
  *[data-collapsible]:before {
    content: "►"; }
  *[data-collapsible]:hover {
    background-color: #eeeeee; }
  *[data-collapsible].active:before {
    content: "▼"; }

/*=============== completed/checked_in/post_event table */
#completed, #checked_in, #post_event {
  position: relative;
  width: 40em; }

/*=============== roster html table */
#password {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  color: red; }

.roster {
  font-size: 10pt;
  page-break-inside: avoid;
  border-collapse: collapse;
  page-break-after: always; }
  .roster caption {
    font-size: 1.3em;
    margin-bottom: 1ex; }
  .roster thead {
    display: table-header-group; }
  .roster tfoot {
    display: table-footer-group; }
  .roster tr {
    page-break-inside: avoid; }
  .roster tr:nth-child(even) td {
    background-color: #eeeeee; }
  .roster td, .roster th {
    border-style: solid;
    border-width: thin;
    padding: 0.8ex; }
  .roster th {
    background-color: #c8c8c8; }
  .roster .role {
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-bottom: 1px; }

/*=============== checklist for check-ins html table */
.checklist {
  font-size: 10pt;
  page-break-inside: avoid;
  border-collapse: collapse;
  page-break-after: always; }
  .checklist .footer {
    font-size: 0.8em; }
  .checklist caption {
    font-size: 1.3em; }
  .checklist thead {
    display: table-header-group; }
  .checklist tfoot {
    display: table-footer-group; }
  .checklist tr {
    page-break-inside: avoid; }
  .checklist tr:nth-child(even) td {
    background-color: #eeeeee; }
  .checklist td, .checklist th {
    border-style: solid;
    border-width: thin;
    padding: 0 2px; }
  .checklist .name {
    font-size: 1.2em;
    text-overflow: ellipsis;
    width: 200pt; }
  .checklist .count {
    text-align: center;
    width: 15pt; }
  .checklist .paymentmethod {
    text-align: center;
    width: 13pt; }
  .checklist .notes {
    text-overflow: ellipsis;
    width: 600pt; }
  .checklist .backjack, .checklist .sundaydinner, .checklist .sundaystayover {
    text-align: center; }

/*=============== registration counts */
.left {
  float: left; }

.bold {
  font-weight: bold; }

.big_button {
  margin: 0.5em;
  padding: 1em;
  display: inline-block;
  float: left;
  border: 1px inset black; }
  .big_button:hover {
    background: #cccccc; }

#registration-counts .highlights {
  display: inline;
  position: relative;
  float: left; }
  #registration-counts .highlights .count {
    float: left;
    padding: 5px;
    margin-right: 4px;
    border: 2px solid black; }
    #registration-counts .highlights .count:hover {
      background: #cccccc; }
    #registration-counts .highlights .count h1 {
      font-size: 36px;
      margin: 0 10px;
      padding: 0;
      text-align: center; }
    #registration-counts .highlights .count h2 {
      font-size: 110%;
      margin: 0;
      padding: 0;
      text-align: center; }
#registration-counts table {
  border-collapse: collapse;
  border: 2px solid black; }
  #registration-counts table .even {
    background-color: #e5ecf9; }
  #registration-counts table td, #registration-counts table th {
    border: 1px solid black;
    padding: 2px 5px;
    text-align: center; }
  #registration-counts table th {
    background-color: #cccccc; }
  #registration-counts table td {
    font-size: 110%; }
  #registration-counts table .boldvline {
    border-right: 3px solid black; }

/*=============== attrtastic additions/changes */
.attrtastic .column {
  float: left;
  width: 180px;
  margin: 0 14px 4px 0; }
.attrtastic .column3 {
  float: left;
  width: 568px;
  margin: 0 14px 4px 0; }

/*=============== formtastic additions/changes */
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.text textarea,
form.formtastic fieldset > ol > li.datepicker input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.email input {
  border: 1px solid #888888;
  width: 74%;
  max-width: 100%;
  padding: 2px; }
  form.formtastic fieldset > ol > li.string input:hover,
  form.formtastic fieldset > ol > li.password input:hover,
  form.formtastic fieldset > ol > li.numeric input:hover,
  form.formtastic fieldset > ol > li.text textarea:hover,
  form.formtastic fieldset > ol > li.datepicker input:hover,
  form.formtastic fieldset > ol > li.phone input:hover,
  form.formtastic fieldset > ol > li.email input:hover {
    border: 1px solid #333333;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 3px; }
  form.formtastic fieldset > ol > li.string input:focus,
  form.formtastic fieldset > ol > li.password input:focus,
  form.formtastic fieldset > ol > li.numeric input:focus,
  form.formtastic fieldset > ol > li.text textarea:focus,
  form.formtastic fieldset > ol > li.datepicker input:focus,
  form.formtastic fieldset > ol > li.phone input:focus,
  form.formtastic fieldset > ol > li.email input:focus {
    border: 1px solid #a2a294; }

form.formtastic fieldset > ol > li.phone input {
  width: 10em; }

form.formtastic fieldset > ol > li.select select,
form.formtastic fieldset > ol > li.file input {
  width: auto; }

form.formtastic fieldset.column {
  float: left;
  width: 20%;
  margin-left: 0; }

form.formtastic fieldset.buttons {
  padding-left: 25%;
  width: auto; }

form.formtastic fieldset > ol > li p.inline-errors {
  clear: both; }

form.formtastic ul.errors {
  margin: 0.5em 0 1.5em 2em; }

#search form {
  height: 35px;
  float: right; }
#search select {
  float: left;
  position: relative;
  top: 25%;
  margin-right: 2px; }
#search .search_field {
  border: 1px solid #c1c1c1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0px;
  margin: 4px 2px 4px 0;
  position: relative;
  float: left;
  width: 139px;
  height: 25px; }
  #search .search_field:hover {
    border: 1px solid #a2a294;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }
  #search .search_field form {
    display: inline; }
#search .and_submit {
  width: 166px;
  margin-right: 4px; }

#search .search_box {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  border: 0px;
  background-color: white;
  position: absolute;
  left: 0px;
  width: 133px;
  height: 25px;
  padding-left: 6px;
  margin: 0; }

#search .search_submit {
  border: 0px;
  border-left: 1px solid #c1c1c1;
  background: url("../../images/search-button.png") no-repeat;
  position: absolute;
  left: 139px;
  height: 25px;
  width: 27px;
  cursor: pointer;
  margin: 0; }
