/*============= table cell alignments */
.table
  .center
    text-align: center
  .qty
    text-align: right
  .name
    width: 25ex
  .true
    background-color: #9c3
  .false
    background-color: #db3737

.color_dots
  .true, .false
    width: 14px
    height: 14px
    display: inline-block

/*=============== completed/checked_in/post_event table */
#completed, #checked_in, #post_event
  position: relative
  width: 40em
    
/*=============== roster html table */
.roster
  font-size: 10pt
  page-break-inside: avoid
  border-collapse: collapse
  page-break-after: always
  caption
    font-size: 1.3em
    margin-bottom: 1ex
  thead
    display: table-header-group
  tfoot
    display: table-footer-group
  tr
    page-break-inside: avoid
  tr:nth-child(even) td
    background-color: #eee
  td, th
    border-style: solid
    border-width: thin
    padding: 0.8ex
  th
    background-color: #c8c8c8
  .role
    font-size: 1.2em
    font-weight: bold
    background-color: white
    text-align: center
    border-style: solid
    border-width: thin
    border-bottom: 1px


/*=============== checklist for check-ins html table */
.checklist
  font-size: 10pt
  page-break-inside: avoid
  border-collapse: collapse
  page-break-after: always
  .footer
    font-size: 0.8em
  caption
    font-size: 1.3em
  thead
    display: table-header-group
  tfoot
    display: table-footer-group
  tr
    page-break-inside: avoid
  tr:nth-child(even) td
    background-color: #eee
  td, th
    border-style: solid
    border-width: thin
    padding: 0 2px
  .name
    font-size: 1.2em
    text-overflow: ellipsis
    width: 200pt
  .count
    text-align: center
    width: 15pt
  .paymentmethod
    text-align: center
    width: 13pt
  .notes
    text-overflow: ellipsis
    width: 600pt
  .backjack, .sundaydinner, .sundaystayover
    text-align: center


/*=============== registration counts */
.left
  float: left

.bold
  font-weight: bold

.big_button
  margin: 0.5em
  padding: 1em
  display: inline-block
  float: left
  border: 1px inset black
  &:hover
    background: #ccc

#registration-counts
  .highlights
    display: inline
    position: relative
    float: left

    .count
      float: left
      padding: 5px
      margin-right: 4px
      border: 2px solid black
      &:hover
        background: #ccc

      h1
        font-size: 36px
        margin: 0 10px
        padding: 0
        text-align: center

      h2
        font-size: 110%
        margin: 0
        padding: 0
        text-align: center

  table
    border-collapse: collapse
    border: 2px solid black

    .even
      background-color: #e5ecf9
    td, th
      border: 1px solid black
      padding: 2px 5px
      text-align: center
    th
      background-color: #ccc
    td
      font-size: 110%

    .boldvline
      border-right: 3px solid black

/*=============== attrtastic additions/changes */

.attrtastic
  .column
    float: left
    width: 20%
    min-width: 140px
    margin: 0 14px 4px 0

/*=============== formtastic additions/changes */

form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.text textarea,
form.formtastic fieldset > ol > li.datepicker input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.email input
  border: 1px solid #888
  width: 74%
  max-width: 100%
  padding: 2px
  &:hover
    border: 1px solid #333
    -webkit-box-shadow: rgba(0,0,0,0.6) 0 0 3px
    -moz-box-shadow: rgba(0,0,0,0.6) 0 0 3px
  &:focus
    border: 1px solid #a2a294

form.formtastic fieldset > ol > li.phone input
  width: 10em

form.formtastic fieldset > ol > li.select select,
form.formtastic fieldset > ol > li.file input
  width: auto

form.formtastic fieldset.column
  float: left
  width: 20%
  margin-left: 0

form.formtastic fieldset.buttons
  padding-left: 25%
  width: auto

form.formtastic fieldset > ol > li p.inline-errors
  clear: both

form.formtastic ul.errors
  margin: 0.5em 0 1.5em 2em
