#main {
   font-family: Georgia, serif;
   font-size: 12px;
   line-height: 16px;
}

#main .instructions {
   border: 1px solid red;
   padding: 4px;
   background-color: #fc9;
   margin: 5px 0;
}

#main .title {
   font-size: 15px;
   font-weight: bold;
   color: #c33021;
   padding-bottom: 10px;
}

#main label {
   font-weight: bold;
}

#main li.error {
   background-color: #FFE6CC;
}

#main #error_explanation h2 {
   color: red;
}

form.formtastic fieldset > ol > li p.inline-errors {
   clear: both;
}

.public_signup #lang {
   font-weight: bold;
   font-size: 15px;
   font-family: Verdana, sans-serif;
   color: #9c3;
   margin: 1em 0;
}

.public_signup p #lang a {
    color: #e84f2f;
}

