.row
  .col-lg-6
    %table.table.table-striped
      %caption
        %h5 Details
      %thead
        %tr
          %th Date
          %th Note
          %th.qty Amount
      %tbody
        - payments.each do |p|
          %tr
            %td.date= link_to(l(p.paid_on), office_registration_payment_path(p.registration, p))
            %td= p.note
            %td.qty= local_currency p.amount