- r = @registration
.row
  .col-sm-6
    %table.table.table-key-values
      %caption
        %h5 Summary
      %tbody
        %tr
          %th Cost
          %td.qty= local_currency r.cost
        %tr
          %th Paid
          %td.qty= local_currency r.paid
        %tr
          %th Owes
          %td.qty= local_currency r.owed
