.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << new_button
    %h3
      Payments by #{@registration.full_name}
  .panel-body
    = render 'summary'
    = render 'payments', payments: @payments if @payments.any?