.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << edit_button
    %h3 Payment on #{local_date(@payment.paid_on)}

  .panel-body
    = render 'payment', payment: @payment
    = render 'office/shared/audits', :audits => @payment.audits.descending if @payment.audits.any?
