.panel
  .panel-body
    = controls do |c|
      - c << edit_button

  .panel-body
    = render 'payment', payment: @payment
    = render 'office/shared/audits', :audits => @payment.audits.descending if @payment.audits.any?
