.block
  .content
    = controls do |c|
      - add_button_to(c, "PDF Format", :format => :pdf)

    %h2= @roster.title

    %p
      Click PDF Format to generate a printable version.
      - if @password
        The PDF file will have a password of
        %em#password= @password

    = render @roster
