.block
  .content
    = controls do |c|
      - c << pdf_button

    %h2= @roster.title

    %p
      Click PDF Format to generate a printable version.

    = render 'roster', registrations: @roster.registrations