.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << pdf_button

    %h3= @roster.title

  .panel-body
    %p
      Click PDF Format to generate a printable version.

    = render 'roster', registrations: @roster.registrations