= content_for :secondary_navigation do
  %ul.nav.nav-list
    %li.nav-header Similar Angels
    %li= link_to_show(office_similar_angels_path, "By Name")
    %li= link_to_show(office_similar_angels_path(by: 'email'), "By Email")
