.block
  = block_navigation(pre_event_navigation)

  .content

    %h2 #{event.display_name} checked in Angels

    .inner
      %p
        Click the header links to mark all angels, or click the toggle button
        to change the status of a single angel.

      #checked_in
        = render 'registrations', :registrations => registrations

  = block_footer(registration_breadcrumbs)
