.block
  .content
    %h2= pluralize(@pending.size, 'pending registration')
    = render 'registrations', registrations: @pending if @pending.any?

  .content
    %h2 Signed up for #{pluralize(@approved.size, 'event')}
    = render 'registrations', registrations: @approved if @approved.any?
