/* special changes need to merge with original hai uk style & color.css */

/* override forced width */
form.formtastic fieldset > ol > li.radio fieldset ol li label input,
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input,
form.formtastic fieldset > ol > li.boolean label input { 
   width: auto;
 }

/* ensure space between long labels fields */
form.formtastic fieldset > ol > li label {
   display: block;
   width: 23%;
   float: left;
   padding: 0.2em 1em 0 0;
}

form.formtastic fieldset > ol > li fieldset ol {
   float: left;
   width: 67%;
   margin: 0;
   padding:0 0 0 25%;
}

/* ensure radio button & checklist labels have the same color has normal
   input labels */
form.formtastic legend { color:#70695A; }

/* hai uk color & style complete override submit buttons, at least get the
   pointer back */
.commit input {
   cursor: pointer;
}

form {
   text-align: left;
}
