.row
  .col-sm-6
    .team-member.list-group
      %strong.list-group-item Females
      = render members.females
  .col-sm-6
    .team-member.list-group
      %strong.list-group-item Males
      = render members.males