.panel.panel-default
  .panel-heading
    .pull-right
      = render 'member_signup', team: @team
    %h3
      = @team.name
      - if @team.closed?
        %span.small Closed

  .panel-body
    = render @team