.block
  .content
    %h2
      #{pluralize(public_signups.count, 'signup is', 'signups are')} 
      pending approval

    - if public_signups.count > 0
      = render 'public_signup_list', public_signups: public_signups
