.block
  .content
    %h2
      #{pluralize(@public_signups.flatten.count, 'signup is', 'signups are')}
      pending approval

    - @public_signups.each do |event_signups|
      = render 'public_signups', public_signups: event_signups