.panel.panel-default
  .panel-heading
    %h3= pluralize(@public_signups.flatten.size, 'Wait list signup')

  .panel-body
    - @public_signups.each do |event_signups|
      = render 'public_signups', public_signups: event_signups