.block
  = block_navigation([['Pending Approval', :index], ['Waitlisted', :waitlisted], ['Approved', :approved]])

  .content

    %h2 #{public_signups.count} waitlisted signups

    .inner
      - if public_signups.count > 0
        = render 'waitlisted', :waitlisted => public_signups

  = block_footer(public_signup_breadcrumbs)
