#haidbcontainer {
   font-family: Georgia, serif;
   font-size: 12px;
   line-height: 16px;
}

#haidbcontainer .instructions {
   border: 1px solid red;
   padding: 4px;
   background-color: #fc9;
   margin: 5px 0;
}

#haidbcontainer .title {
   font-size: 15px;
   font-weight: bold;
   color: #c33021;
   padding-bottom: 10px;
}

#haidbcontainer label {
   font-weight: bold;
}

#haidbcontainer li.error {
   background-color: #FFE6CC;
}

#haidbcontainer #error_explanation h2 {
   color: red;
}

form.formtastic fieldset > ol > li p.inline-errors {
   clear: both;
}
