%table.table.table-striped
  %thead
    %tr
      %th Title
      %td Date
      %th{:width => '60%'} Notes
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to_show(office_event_registration_path(r.event, r), r.event_name)
        %td= l r.start_date
        %td= r.notes
