%table.table.table-striped.tablesorter
  %thead
    %tr
      %th Title
      %th Level
      %th.center Status
      %th.center Completed
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to(r.event_name, office_registration_path(r))
        %td= r.level
        %td.center= r.status
        %td.center= color_dot(r.completed)
