%table.table.table-striped.tablesorter
  %thead
    %tr
      %th Title
      %th Level
      %th.center Approved
      %th.center Completed
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to_show(office_event_registration_path(r.event, r), r.event_name)
        %td= r.level
        %td.center= color_dot(r.approved)
        %td.center= color_dot(r.completed)
