%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Locales
      %th Description
  %tbody
    - site_defaults.each do |d|
      %tr
        %td= link_to(d.display_name, office_site_default_path(d))
        %td= d.translations.map(&:locale).join(", ")
        %td= d.description.split('.').first