= site_default.description.html_safe
%table.table
  %thead
    %tr
      %th Language
      %th Text
  %tbody
    - site_default.translations.each do |translation|
      %tr
        %td= translation.locale
        %td= translation.text