.panel
  .panel-body
    = controls do |c|
      - c << edit_button
      - (c << delete_button) if super_user?
      - (c << new_button) if super_user?

    %h2 Key #{site_default.display_name}

    = render 'site_default', :site_default => site_default
