%h2 Thanks for signing up
%p
  You will receive an email shortly. Please click the link within this email to confirm your account.
%p
  Until you confirm your email address your account cannot be used.
