.row
  .col-sm-6
    = render 'quick_add', team: @team, gender: Registration::FEMALE
    = render members.females
  .col-sm-6
    = render 'quick_add', team: @team, gender: Registration::MALE
    = render members.males