.row
  .col-md-6
    .team-member.list-group
      = render 'quick_add', team: @team, gender: Registration::FEMALE
      = render members.females
  .col-md-6
    .team-member.list-group
      = render 'quick_add', team: @team, gender: Registration::MALE
      = render members.males