.row
  .col-md-6
    .team-member.list-group
      = render 'quick_add', team: @team, gender: Registration::FEMALE
  .col-md-6
    .team-member.list-group
      = render 'quick_add', team: @team, gender: Registration::MALE

.table-responsive
  %table.table.table-striped.tablesorter
    %thead
      %tr
        %th Reg Date
        %th.name Name
        %th Gender
        %th Last Team
        %th Count Team
        %th Role
        %th Highest Level
    %tbody
      = render members.by_name

.row
  .col-xs-12
    %h6{data: {collapsible: true}}  Names
    %p
      - members.by_name.each do |member|
        = member.full_name
        %br