- member = team.members.build
= simple_form_for([:office, team, member], html: {class: 'form form-inline'}) do |f|
  = f.select :membership_id, members_for_select, {}, {:onchange => 'this.form.submit()'}
