.panel.panel-default
  .panel-heading
    %h3= pluralize(@registrations.size, 'Registration')

  .panel-body
    %p
      Click on the workshop title to see the workshop roster.

  = render 'registrations', registrations: @registrations